
table{
border: 5px purple;
border-collapse: collapse;
width: 300px;
height: 300px;
}

td {
border: 1px solid black;
width: 15px;
height: 30px;
text-align: center;
}

.vertical-gruesa{
border-right: 4px black solid;
} /* raya gruesa para la derecha, sirve para generar los recuadros*/

.horizontal-gruesa{
border-top: 4px black solid;
} /* raya gruesa para arriba, sirve para generar los recuadros*/

.vertical-gruesa-izquierda{
border-left: 4px black solid;
}

.horizontal-gruesa-abajo{
border-bottom: 4px black solid;
}

.content{
width:100%;
}

.left{
float: left;
position: relative;
width: 15%;
height: 60%;
margin-right: 50px;
margin-top: 65px;
margin-left: 60px;
}

.Sudoku{
float: left;
position: relative;
width: 30%;
height: 60%;
margin-left:50px;
}

.texto{
float: left;
position: relative;
width: 30%;
height: 60%;
margin-left:50px;
margin-top:65px;
font-size: 30px;
}

.clear{
clear:both;
}

button{
display:block;
margin-bottom: 20px;
margin-left: 120px;
background-color: #4CAF50; 
border: none;
color: black;
font-size: 16px;
cursor: pointer;
}

.button2{
    background-color: #5DC1B9; 
    font-style: italic;
    color: black;
    }

p1{
display:flex;
text-align:justify;
}

p2{
display:block;
margin-bottom: 20px;
margin-left: 120px;
}

input{
border:none;
outline: none;
width: 15px; 
height: 30px;
text-align: center;
}

#inferior{
    position:relative;
    bottom: 0px;
    top: 450px;
    right: 800px;
}


#intermedio {
background-color: #FFFF00;
color: black;
}

#dificil{
background-color: #CC33FF;
}



